@import  url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: "Inter";
  overflow-x: hidden;
  overflow-y: scroll;
}

.navbar {
  height: 5rem;
  font-size: 1rem;
  padding-left: 50px;
  background-color: #fff;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  
}

.banner {
  margin-top: 60px;
  background-color: #0b3685;
  height: 550px;
}

.btn {
  width: 10rem;
}
.services {
  background-color: #0b3685;
  height: 880px;
}

.card-img-top{
  height: 200px;
  padding: 10px;
}

.card {
  height: 270px;
 
}

.footer{
  background-color: #0b3685;
  color: #fff;
  
}

a{
  color: rgb(163, 162, 162);
  text-decoration: none;
}

a:hover{
  color:#fff;
  text-decoration: none;
}
.footer-bottom{
  padding: 20px;
  background-color: #000;
  text-align: center;
  color: #fff;
}
