@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

@font-face {
  font-family: Blueberry;
  src: url(../font/Blueberry\ .ttf);
}


/* HTML Common Properties*/
body {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  background-color:#dce3ea;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

/* Navbar Section */
.navbar {
  height: 5rem;
  padding-left: 3rem;
  padding-right: 1rem;
  background-color: #dce3ea;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-nav .nav-link.active {
  color: #252525;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #000;
}

.info {
  padding-top: 10rem;
  padding-left: 3rem;
}

img#logo {
  height: 45px;
}

.profilePhoto {
  opacity: 0.7;
}

.developer {
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 4px;
  font-family: 'Blueberry';
}

/* Services Section */
.services {
 padding-left: 2rem;
 padding-right: 2rem;
}


/* .card {
  border: none;
  background-color: #dce3ea;
  width: 380px;
} */
.icon{
 font-size: 50px;
}

/* Footer Section */
.footer {
  background-color: rgba(92, 92, 92, 0.382);
  color: #fff;
}

a {
  color: rgb(163, 162, 162);
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.footer {
  background-color: #252525;
}

.footer-bottom {
  height: 80px;
  padding: 20px;
  background-color: maroon;
  text-align: center;
  color: #fff;
}

/* Responsive Section */
/* @media (max-width: 992px) {
  .banner {
    height: 900px;
  } */

@media only screen and (max-width: 600px) {
  .info {
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .developer {
    align-items: center;
    font-size: 30px;
    letter-spacing: 2px;
  }

  .navbar {
    padding-left: 1rem;
    padding-right: 0rem;
  }

  .services {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 992px) {
  
}